language_tool_python==2.7.1
lexical_diversity==0.1.1
nltk==3.8.1
numpy==1.25.1
openai==0.27.8
pandas==2.0.3
plotly==5.15.0
python-dotenv==1.0.0
PyYAML==6.0.1
Requests==2.31.0
spacy==3.6.0
streamlit==1.25.0
streamlit_authenticator==0.2.2
textstat==0.7.2
tqdm==4.65.0
